<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [long-press] (didLongPress)="lp()">
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" [long-press] (didLongPress)="lp()">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <long-press-ngx-long-press></long-press-ngx-long-press>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <div class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ngx-show-hide-password>
          <ion-input value="My password" type="password"></ion-input>
        </ngx-show-hide-password>
      </ion-item>
    </div>
  </div>
</ion-content>